.search-box {
	width: 50%;
	margin: auto;
	position: relative;

	.input {
		width: 100%;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #000; 

		input {
			flex: 1;
			padding: 0 5px;
			border: none;
			outline: none;
			line-height: 40px;
			font-size: 16px;
			font-style: italic;

			 &.disabled { background-color: rgb(235, 235, 228); }
		}
		.fa-search {
			width: 40px;
			line-height: 40px;
			color: #989191;
			background: #fff;
			text-align: center;

			&.disabled { background-color: rgb(235, 235, 228); }
		}
	}

	.dropdown {
		width: 100%;
		min-height: 150px;
		max-height: 240px;
		position: absolute;
		z-index: 99;
		padding: 10px 20px;
		background: #fff;
		border: 1px solid #ccc;
		border-top: none;
		border-radius: 3px;
		box-sizing: border-box;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);

		&.loading { justify-content: center; align-items: center; }

		.fa-spinner { color: #989191; }
	}
	 .dropdown-item {	line-height: 28px; }
}