
@font-face {
    font-family: 'RopaSans';
    src: url('RopaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Neue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}